@-ms-viewport{
  width: device-width;
}

.home_section{
    margin-top: 50%;
    margin: 10px;
 padding: 10px;
}

#name-title{
 padding: 15px;
 border: 1px solid black; 
}


.footer {
    background-color: #0099cc;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 15px;
}

    @media only screen and (min-width: 768px) {
    /* For mobile phones: */

#name{
    font-size: 5em;
    text-align: center;
    padding: 1px;
}

#title{
    padding: 1px;
    font-size: 1.8em;
    text-align: center;
}
    }
    


@media screen and (min-width: 458px) and (max-width: 768px) { 
    /* STYLES HERE */

    #name{
    font-size: 3em;
    text-align: center;
    padding: 0.5px;
    }

    #title{
        padding: 0.5px;
        font-size: 1.06em;
        text-align: center;
    }
    }



@media only screen and (max-width: 457px) {
    /* STYLES HERE */
    
   #name{
    font-size: 2em;
    text-align: center;
    padding: 0.5px;
    }

    #title{
        padding: 0.5px;
        font-size: 0.7em;
        text-align: center;
    }
    }
