@-ms-viewport{
  width: device-width;
}

.name-title{
 position: absolute;
 width: 100%;
 align-content:center;
 float: left;
 margin: 20px;
 padding: 5px;
 top: 60%;   
}


#name{
    font-size: 5em;
    text-align: center;
    padding: 1px;
}

#title{
    padding: 1px;
    font-size: 1.8em;
    text-align: center;
}



