
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


body,html{
  height:100%
}

html{
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  -webkit-text-size-adjust: 100%;
}

/* * {
  box-sizing: border-box;
  } */

body{
  display:flex;
  flex-direction:column;
  margin:0;
}

main{
  margin:auto;
  padding-top: 24px;
  flex:1 0 auto;
  max-width:720px;
}

.copyright{
  margin:16px 0
}

.intro{
  /* align-items: flex-start; */
  padding: 80px 24px;
  margin:auto;
  text-align:center;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  max-width:780px;
}


.intro>h1{
  font-family: Inter, serif;
  text-align: center;
  font-weight:500;
  color:#ffffff;
  font-size:6rem;
}

.intro>h2{
  font-family: Inter, serif;
  text-align: center;
  line-height: 1.2;
  font-weight:300;
  color:#ffffff;
  font-size:2.5rem;
}

@media only screen and (max-width: 400px) {
  .intro>h1 {
      font-size: 4rem;
  }

  .intro>h2{
    font-size:2rem;
  }

}

.about{
  margin:auto;
  padding: 24px;
  text-align:center;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  max-width:780px;
}

.about>h3{
  font-family: Inter, serif;
  text-align: center;
  font-weight:500;
  color:#8a8a8a;
  font-size:4rem;
}

.myinfo>p{
  font-family: Inter, serif;
  text-align: center;
  font-weight:400;
  color:#ffffff;
  font-size:1.7rem;
  line-height: 1.5;
}

.social-container{
  display:flex;
  justify-content:center;
  align-items:center;
  padding:16px 0;
}

a:link,a:visited{
  color:var(--accent)
}

a.icon:hover{
  text-decoration:none
}

a:hover{
  color:var(--accent)!important
}

.pages{
  padding:16px 0
}

.pages-icon{
  padding:0 16px
}

.item{
  padding:10px 0
}

.item-tag{
  background-color:var(--accent)
}

/* .navbar-icon{
  font-size:125%;
  display:inline-block!important
}

.navbar-default {
  background-color: #000000;
  border-color: #202020;
} */

/* .navbar.navbar-default{
  border-top:var(--border-width) solid var(--accent)
} */


footer{
  padding: 24px;
  align-items: center;
}

footer p{
  font-family: Inter, serif;
  text-align: center;
  line-height: 1.1;
  font-weight:300;
  color:#ffffff;
  font-size:1.2rem;
}

.myphoto{
  padding:5px
}

canvas{ display:block;}
