#sandwich-menu{ display: inline-block;
    position: absolute;
    top: 58px;
    bottom: 0;
    left: 43px;
    right: 0;
    margin: auto; }

#rect-orange{ display: inline-block;
    position: relative;
    top: 210px;
    bottom: 0;
    left: 405px;
    right: 0;
    margin: auto; }

#rect-yellow{ display: inline-block;
    position: relative;
    top: 213px;
    bottom: 0;
    left: 637px;
    right: 0;
    margin: auto; }

#circle-green{ display: inline-block;
    position: relative;
    top: 542px;
    bottom: 0;
    left: 405px;
    right: 0;
    margin: auto; }

#rect-blue{ display: inline-block;
    position: relative;
    top: 542px;
    bottom: 0;
    left: 637px;
    right: 0;
    margin: auto; }

#traingle-gray{ display: inline-block;
    position: relative;
    top: 542px;
    bottom: 0;
    left: 758px;
    right: 0;
    margin: auto; }



